.menu
{
 margin-top:5px;
 margin-bottom:5px;
 background-color:#4c4c4c;
 color:white;
 position:relative;
 display:inline-block;
 text-align:center;
 padding:0px 0px 0px 0px;
 border:2px solid #4c4c4c;
    width:20%;
}
#menuitem1
{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	text-align:center;
 	margin:auto;
}
#menuitem2
{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;

}
a{
  color: white;
  text-decoration: none;
}
body{
  text-align: center;
  background-color: white;
}
#container{
  background-color: lightgray;
  margin-left: 20%;
  margin-right: 20%;
}
ul{
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}
li{
  display: inline;
}
#answer{
  margin-left: 40%;
  margin-right: 40%;
  background-color: red;
}
