<h1>Welcome to the About Page</h1>

<p>A passphrase is a bunch of words and characters that you type in to your computer to let it know for sure that the person typing is you.</p>
<p>Most security programs allow you to enter a passphrase instead of just a short password for added protection against attackers.</p>
<p>Some programs also use your passphrase to form a cryptographic key to encrypt your data.</p>
