<!DOCTYPE html>
<html>
		<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="/base.css">
				<title></title>
		</head>
		<body>
      <div id="container">
        <h1>Diceware Simulator</h1>
        <div class="navContainer">
          <ul>
            <li class="menu" id="menuitem1"> <a href="/dice">Dicey</a></li>
            <li class="menu" id="menuitem2"> <a href="/about">About</a></li>
          </ul>
        </div>
      </div>

				{{{body}}}

		</body>
</html>
