<h2>Recommended Meals:</h2>
<form action="" method="GET">

  <input type="radio" name="filterCategory" value="breakfast"> Breakfast
  <input type="radio" name="filterCategory" value="lunch"> Lunch
  <input type="radio" name="filterCategory" value="dinner"> Dinner
  <input type="radio" name="filterCategory" value="anytime"> Anytime


  <input type="Submit" value="Filter Meals">
</form>

<fieldset>
  <h1>Recommended Meals</h1>
  <ul>
  {{#each food}}
    <li><h3>{{this.name}} ( {{this.time}} )</h3>
      <h4> {{this.description}}</h4>
     </li>
  {{/each}}
  </ul>
</fieldset>

<h2>Add a Meal Recommendation</h2>

<form action="" method="POST">
  <br>
  <input type="radio" name="filterCategory" value="breakfast"> Breakfast
  <input type="radio" name="filterCategory" value="lunch"> Lunch
  <input type="radio" name="filterCategory" value="dinner"> Dinner
  <input type="radio" name="filterCategory" value="anytime"> Anytime

  <fieldset>
    <legend>Add a Meal here!</legend>
    <div>
      <label for="mealName">Name : <abbr title="required">*</abbr></label>
      <input id="mealName" type="text" name="mealName">
    </div>
    <div>
      <label for="mealDescription">Meal Description : <abbr title="required">*</abbr></label>
      <input id="mealDescription" type="text" name="mealDescription">
    </div>
  </fieldset>

  <div class="button">
  <button type="submit">Add Meal</button>
</div>

</form>
